Implementation/dstl_satellite_data/
Implementation/dstl_satellite_data_old/
Implementation/masks/
Implementation/rgb-g/
Implementation/rgb-rscl/
*/__pycache__/
runs
Implementation/loss.txt
Implementation/train_geojson_v3/
Thumbs.db